[volc]
app_id=""
access_key=""
app_key="PlgvMymc7f3tQnJ6"
resource_id="volc.speech.dialog"
realtime_model="2.2.0.0"

[ark]
api_key=""
model=""
chat_url="https://ark.cn-beijing.volces.com/api/v3/chat/completions"
